{% extends 'base.html' %}

{% block content %}
    <h1>
        Tags
        <a href="{% url 'todo:tag-create' %}" class="badge badge-pill badge-secondary float-right">Add tag</a>
    </h1>
    {% if tag_list %}
        {% for tag in tag_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ tag.name }}</h5>
                    <a href="{% url 'todo:tag-update' pk=tag.id %}" class="badge badge-primary">Update</a>
                    <a href="{% url 'todo:tag-delete' pk=tag.id %}" class="badge badge-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No tags found.</p>
    {% endif %}
{% endblock %}
